body { 
    background: rgb(8,31,154);
    background: radial-gradient(circle, rgba(8,31,154,1) 0%, rgba(252,70,107,1) 100%)
}
h1 {
    font-size: 70px;
  }
h2{
    font-size: 30px;
}
.full {
    margin: auto;
    width: 50%;
    padding: 10px;
  }